
body {
    background-color: coral
}
p {
    color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: lightblue;
    padding: 10px;
    grid-auto-rows: minmax(150px, auto);
    grid-row-gap: 20px;
    grid-gap: 20px;
}

.grid-container-left {
    display: grid;
    grid-template-columns: 1fr;
    background-color: purple;
    padding: 10px;
    grid-auto-rows: minmax(150px, auto);
    grid-row-gap: 20px;
    grid-gap: 20px;
}
.grid-container-left > div {
    display: grid;
    background-color: green;
    padding: 10px;
    grid-auto-rows: minmax(150px, auto);
    grid-row-gap: 20px;
    grid-gap: 20px;
}

.grid-container-right {

    display: grid;
    grid-template-columns: 150px;
    background-color: yellowgreen;
    padding: 10px;
    grid-auto-rows: minmax(150px, auto);
    grid-row-gap: 20px;
    grid-gap: 20px;
}

.grid-container-right > div {
display: grid;
background-color: blue;

}

